/*MAPAS*/
$colores:(
    color1: rgb(189, 161, 125),
    color2: black,
    color3: white,
    color4: grey,
);

/*FUENTES*/
$fuentes:(
sm:20px,
md:25px,
lg:30px,
sm-titulos: 50px,
md-titulos: 40px,
lg-titulos:48px,
)
;